* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
    padding: 20px 0;
}

main {
    width: 80%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.cancel-button {
    padding: 10px 20px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-button {
    padding: 10px 20px;
    background-color: #32CD32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos adicionales específicos para el formulario de actualización */

/* Estilo para el contenedor del mensaje de éxito o error */
#mensaje {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para el título del formulario */
header h1 {
    margin-bottom: 20px;
}

/* Estilo para los botones dentro del grupo de botones */
.button-group button {
    flex-basis: 48%; /* Hace que los botones ocupen casi el mismo ancho */
}

/* Estilo para los botones dentro del grupo de botones en dispositivos móviles */
@media (max-width: 600px) {
    .button-group button {
        flex-basis: 100%; /* En dispositivos móviles, los botones ocupan todo el ancho */
        margin-bottom: 10px; /* Agrega un espacio entre los botones */
    }
}
