* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
    padding: 20px 0;
}

main {
    width: 80%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.cancel-button {
    padding: 10px 20px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button {
    padding: 10px 20px;
    background-color: #32CD32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/*Estilo para el input de CP*/
.form-group input[id=codigoPostal]{

    width: 15%;


}

/*************************ESTILOS CAMPOS ASENTAMIENTO Y CALLE*************************/

.form-group[id=CP-Tipo]{
    position: relative;
    width: 100%;
    display: inline-flex;
}

._CP, .tipo-espacio{
    width: 50%;
}

/*************************ESTILOS CAMPOS ASENTAMIENTO Y CALLE*************************/

.form-group[id=asentamiento-calle]{
    position: relative;
    width: 100%;
    display: inline-flex;
}

.asentamiento, .calle{

    width: 50%;

}

/*************************ESTILOS CAMPOS ENTRE CALLES Y NUMEROS*************************/

.form-group[id=entreCalles-Nums]{
    position: relative;
    width: 100%;
    display: inline-flex;
}

.numExt, .numInt{
    width: 30%;
}

.entre-calles{
    width: 55%;
}

.numExt, .numInt{
    padding-left: 50px;
}

/*************************ESTILOS CAMPOS ESTADO Y MUNICIPIO*************************/
.form-group[id=estado-municipio]{
    position: relative;
    width: 100%;
    display: inline-flex;
}

.estado, .municipio{
    width: 50%;
}

/*************************ESTILOS HORARIOS*************************/
.form-group[id=horarios]{
    position: relative;
    width: 100%;
    display:inline-flex;
}

.horario-inicio, .horario-fin{
    width: 20%;
    transform: translate(50%);
}

.horario-fin{
    transform: translate(175%);
}

/*************************Estilo para los select**********************/
.form-group select{
    
    font-family: "Arial", Times, serif;
    font-size: 15px;
    width: 80%;
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
    cursor: pointer;

}

option:hover{
    background-color: #32CD32;
}



/***************************ESTILO PARA EL BOTON DE BUSQUEDA************************/
.form-group button{

    
    padding: 10px 20px;
    padding-top: 0px;
    background-color: #5d67ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;

}

.form-group button,.form-group input[id=codigoPostal]{
    text-orientation: sideways-right;
    text-align: center;
}

.gg-search{
    transform: translate(-5px,12px);
}

.form-group button:hover{
    background-color:#444fee
}

.form-group[id=control-buttons] button{
    padding: 10px;
    display: inline-block;
    justify-content: space-between;
}




/**********************CUADRO EMERGENTE***********************/
/* Estilo del fondo oscurecido */
.cuadro-emergente {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1; /* Encima de todo */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Habilita scroll si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo */
    background-color: rgba(0,0,0,0.4); /* Negro con opacidad */
    /* Animación */
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 0.5s ease; /* Transición suave */
}

/* Estilo del contenido del cuadro emergente */
.contenido-emergente {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% desde la parte superior y centrado horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%; /* Ancho del contenido */
    max-width: 450px; /* Máximo ancho */
    /* Animación */
    transform: scale(0.7); /* Inicia más pequeño */
    transition: transform 0.5s ease; /* Transición suave */
}

/* Botones dentro del cuadro emergente */
.contenido-emergente button {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
}

.contenido-emergente h2{
    margin: auto;
    width: 50%;
    padding: 10px;
}